body {
  color: #fff;
  
}

.buy-text-container{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.buy-container{
border: red solid 1px;
}

h1{
  display: inline;
  font-size: clamp(1.70em, 1em + 3vw);
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  border-bottom: 2px solid #E5DF41;
  border-bottom-width: 5%;
  }



.buy-container{
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.buy-info{
  text-align: center;
}

h2{
  display: inline;
  margin-top: 20px;
  font-size: clamp(1.70em, 1em + 3vw);
  border-bottom: 2px solid #E5DF41;
  border-bottom-width: 5%;
}

@media only screen and (max-width: 1440px) {
  .plataform-text{
    margin-top: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .plataform-text{
    margin-top: 10px;
  }
}

.buy-img{
  width: 40vw;
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .buy-img{
    width: 80%;
    margin: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .buy-img{
    width: 80%;
    margin: 5px;
  }
}

@media only screen and (max-width: 1024px) {
  .buy-img{
    width: 80%;
    margin: 5px;
  }
}

@media only screen and (max-width: 1440px) {
  .buy-img{
    width: 80%;
    margin: 5px;
  }
}

.plataform-container{
  text-align: center;
  margin-top: 30px;
}

.plataform-consoles{
  display: inline-block;
}

button{
  border: none;
  margin: 3px;
}

.plataform-container2{
  text-align: center;
  margin-top: 30px;
}


#footer{
  color: black;
  margin-top: 130px;
  padding: 50px;
  background: linear-gradient(180deg, #E5DF41 -22.64%, #DFA300 100%);
}

@keyframes aparecer {
  from {
      opacity: 0; /* Inicia com opacidade 0 */
  }
  to {
      opacity: 1; /* Termina com opacidade 1 */
  }
}

h1, img, button{
  animation: aparecer 1.3s ease; /* Utiliza a animação 'aparecer' com duração de 0.5s e timing function 'ease' */
}
