.bg-primary-color{
    background-color: #121212;
}

.primary-color{
    color: #FFDC56;
}

.white-color{
    color: #fff;
}

.nav-item a:hover{
    color: #ffdc56; /* O ERRO DO BOTAO NO HOVER ESTA AQUI */
    transition: 0.s;
}

#navbar a{
    font-size: 1.2em;
    padding: 10; /* O ERRO DO BOTAO QUE ESTAVA COM PADDING GRANDE ESTA AQUI */
    margin-left: 15px;
}


.btn{
color: #FFDC56;;
border: 1px solid #FFDC56;
font-weight: 500;
box-sizing: border-box;
padding: 8px;
margin-left: 15pxpx;
}

.btn:hover{
    background-color: #FFDC56;
    color: white;
    transition: 0.6s;
}