body {
  color: #fff;
}

.buy-container{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1{
  display: inline;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  }


.buy-img{
  width: 55%;
}


#button{
  width: 5px;
}

#footer{
  color: black;
  margin-top: 130px;
  padding: 50px;
  background: linear-gradient(180deg, #E5DF41 -22.64%, #DFA300 100%);
}

@keyframes aparecer {
  from {
      opacity: 0; /* Inicia com opacidade 0 */
  }
  to {
      opacity: 1; /* Termina com opacidade 1 */
  }
}

h1, img, button{
  animation: aparecer 1.3s ease; /* Utiliza a animação 'aparecer' com duração de 0.5s e timing function 'ease' */
}
